streamlit
httpx
PyPDF2==3.0.1
langchain>=0.1.0
langchain-memory
faiss-cpu
google-generativeai
langchain-community
langchain-openai
python-dotenv
langchain-google-genai
tiktoken
aiohttp
openai
nltk
transformers
torch
numpy
pandas
requests
beautifulsoup4
watchdog
langchain_core
python-dateutil
protobuf
pypdf
pdfminer.six
pdf2image
poppler-utils
newspaper3k
pytrends
lxml_html_clean
duckduckgo-search
