streamlit
httpx
langchain>=0.1.0,<1.0.0
langchain-core<1.0.0
faiss-cpu
google-generativeai
langchain-community<1.0.0
langchain-openai
python-dotenv
langchain-google-genai
langchain-mistralai
tiktoken
aiohttp
openai
nltk
numpy
pandas
requests
beautifulsoup4
watchdog
python-dateutil
protobuf
pypdf
torchvision
